.carousel-item img{
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.carousel-item{
    height: 550px !important;
    width: 100%;
    overflow: hidden !important;
}
.custom-card-img{
 height: 200px;
 max-width: 100% !important;
 margin:0 auto;
}
.item{
width: 50%;

}
.item img{
    max-width: 60%;
}
.btn-lg{
    width: 100%;
}
.d-flex >div{
  width: 50%;  
}
