.carousel-item img{
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.carousel-item{
    height: 550px !important;
    width: 100%;
    overflow: hidden !important;
}
.custom-card-img{
 height: 200px;
 max-width: 100% !important;
 margin:0 auto;
}
